h1,
p {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
button {
  border: 1px solid black;
  height: 32px;
  width: 120px;
}
button.closed {
  border: 0px;
}
button.selected {
  height: 32px;
  width: 120px;
  border: 1px solid blue;
  color: blue;
  opacity: 0.6;
}
.board-row {
  width: calc(2 * 60px);
  height: 60px;
  display: flex;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(60px, auto);
  flex-wrap: wrap;
}
.board-row.closed {
  width: 0;
  height: 0;
  opacity: 0;
}
.square {
  border: 1px solid black;
  justify-content: center;
  align-items: center;
  font-size: 8px;
  text-transform: capitalize;
  height: 60px;
  flex-basis: 50%;
  overflow: hidden;
  overflow-wrap: break-word;
}
.square:disabled {
  color: black;
  font-weight: bold;
  text-align: left;
}
.square.blured {
  font-size: 8px;
  opacity: 0.3;
}
.square.expanded {
  flex-basis: 100%;
  height: 80px;
}
.square.minimized {
  flex-basis: 33.33%;
  height: 40px;
}
