h1,
p {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.button_colors {
  height: 32px;
  width: 120px;
}
.button_colors_closed {
  height: 0px;
  width: 0px;
  opacity: 0;
}
.board-row {
  width: calc(2 * 60px);
  height: 60px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(60px, auto);
}
.board-row_closed {
  width: 0;
  height: 0;
  display: grid;
  grid-template-columns: repeat(0, 0fr);
  grid-auto-rows: minmax(0px, auto);
  opacity: 0;
}
.square {
  border: 1px solid black;
  justify-content: center;
  align-items: center;
  font-size: 8px;
}

.square_blured {
  border: 1px solid black;
  justify-content: center;
  align-items: center;
  font-size: 8px;
  opacity: 0.3;
}
